* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(198, 160, 246, 0.3);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.1s ease-in;
    box-shadow: 0 0 0px 0px transparent;
    border-radius: 10px;
    margin: 10px;
}

button:focus {
    box-shadow: none;
    background-size : 20%;
}

button:hover {
    background-size: 30%;
    box-shadow: 0 0 0px 0px rgba(0,0,0,.3);
    background-color: transparent;
    color: #c6a0f6;
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
  background-image: image(url("./icons/power-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));

}
#logout:hover {
  background-image: image(url("./icons/logout-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
  background-image: image(url("./icons/restart-hover.png"));
}

#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:hover {
  background-image: image(url("./icons/lock-hover.png"));
}

